@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    position: relative;
    text-align: center;
    padding: 150px;
}

header::before {
    content: "";
    background: url(img/hyatt.jpg) no-repeat center center;
    background-size: cover;
    opacity: 0.85;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
    color: #ffffff;
}

main {
    padding: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
}

h2 {
    text-align: center;
    color: #2c3e50;
}

.school, .award {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.school img, .award img {
    width: 200px;  /* Consistent width */
    height: 150px; /* Consistent height */
    object-fit: cover; /* Ensure aspect ratio is maintained */
    margin-right: 20px;
}

.details {
    max-width: 600px;
}

.details h3 {
    color: #2c3e50;
}

.details p {
    margin: 5px 0;
}

strong {
    color: #e74c3c;
}

.quote {
    background-color: #0d0037;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    font-style: italic;
    margin: 20px 0;
}

footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}
