@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    position: relative;
    text-align: center;
    padding: 150px;
}

header::before {
    content: "";
    background: url(img/hyatt.jpg) no-repeat center center;
    background-size: cover;
    opacity: 0.85;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
    color: #ffffff;
}

main {
    padding: 20px;
}

.portfolio {
    text-align: center;
    padding: 20px;
}

.portfolio-item-new {
    display: inline-block;
    width: 45%;
    margin: 20px 2%;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s;
}

.portfolio-item-new:hover {
    transform: scale(1.05);
}

.portfolio-item-new img {
    width: 100%;
    height: auto;
    max-width: 1920px;
    max-height: 1080px;
    object-fit: cover;
    margin-bottom: 10px;
    border-bottom: 1px solid #0d0037;
}

.portfolio-item-new .large-img {
    max-height: 1350px;
}

.portfolio-item-new p {
    font-size: 1.2em;
    padding: 10px;
}

footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}


